

    body {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #777;
        background:#777;
        width: 960px;
        font-size: 18px;
        margin: auto;
    }

    header {
        background: #ebebeb;
        padding: 25px;
        margin-bottom: 15px;
        text-align: center;
    }

    nav {
        background: #ebebeb;
        padding: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    section {
        background: #ebebeb;
        width: 50%;
        height: 192px;
        padding: 50px;
        text-align: center;
        float: left;
    }

    aside {
        background: #ebebeb;
        height: 292px;
        width: 37%%;
        text-align: center;
        margin-left: 600px;
    }

    footer {
        background: #ebebeb;
        padding: 25px;
        margin-top: 25px;
        clear: both;
        text-align: center;
    }
     
    article {
        color: #ebebeb;
        background: #777;
        height: 150px;
    }

    h1 {
        color: #777;
        background: #ebebeb
    }

    p {
        color: #777;
        background: #ebebeb
    }

